<div id='container'>
  <header class="jumbotron hero-spacer">
    <img src="<%= @space.image%>"  alt="">
  </header>
  <div id='space-id'>
    <h1> <%=@space.name%> </h1>
    <hr>
    <div id='space-id-text'>

      <h4> Price:</h4><p> £<%=@space.price%> ppn </p>
      <h4> Description:</h4><p> <%=@space.description %>  </p>
      <h4> Maximum Capacity:</h4><p> <%=@space.capacity %></p>
  </div>
    <p id='dates'></p>
    <form  action='/requests/new' method='get'>
      <input class="btn btn-primary btn-large" type='submit' value='Book'/>
    </form>

  </div>
</div>
