<div class="containter">

  <!-- Title -->
      <div class="row">
          <div class="col-lg-12">
              <h3>Tudor's Portfolio </h3>
          </div>
      </div>
    <div class="row text-center">
      <% Space.all.reverse.each do |space| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div id='space-box' class="thumbnail">
          <img src="/assets/800.jpg" alt="">
          <div class="caption">
            <a class='links' id='space-title-<%=space.id%>' href="/spaces/<%=space.id%>"><%=space.name%></a>
            <p id='space-description'>
              <%=space.description%>
            </p>
            <p id='dates'>
              <span id='start-date'>Start date: <%=space.start_date%> </span>
              <span id='end-date'>End date: <%=space.end_date%> </span>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
