<div id='container'>
  <div id='request-id'>
    <h3>Request for <a id='space-link-<%=@req.space.id%>' href='/spaces/<%=@req.space.id%>'><%=@req.space.name%></a> </h3>
    <h4>On date: </h4><p><%=@req.date%></p>
    <h4>Status: </h4> <p><%=@req.status%></p>
    <h4>For: </h4> <p><%=@req.no_guests%> <%=@req.no_guests.to_i > 1 ? "Guests" : "Guest"%></p>
    <h4>Owned by </h4><p><%=@req.space.user.username%></p>
  </div>
</div>

<textarea id="message-new-box" name="content" form="message-new">Enter text here...</textarea>
<form id="message-new" action="/messages" method="post">
  <input type='hidden' name='request_id' value='<%=@req.id%>'/>
  <input id='send-message' type="submit" value="Send" />
</form>

<div id="messages-container">
  <% @req.messages.each do |message| %>
  <div class="message">
    <div class="message-from">    From: <%= message.user.username %> </div>
    <div class="message-time"> <%= message.time.strftime("Created on: %m/%d/%Y at: %I:%M%p") %> </div>
    <div class="message-content"> <%= message.content %> </div>
  </div>
  <% end %>ยง
</div>
