<div id='container'>
  <div id='request-id'>
    <h3>Request for <a id='space-link-<%=@req.space.id%>' href='/spaces/<%=@req.space.id%>'><%=@req.space.name%></a> </h3>
    <h4>On date: </h4><p><%=@req.date%></p>
    <h4>Status: </h4> <p><%=@req.status%></p>
    <h4>For: </h4> <p><%=@req.no_guests%> <%=@req.no_guests.to_i > 1 ? "Guests" : "Guest"%></p>
    <h4>Owned by </h4><p><%=@req.space.user.username%></p>
  </div>
</div>
