<h2>Request for <a id='space-link-<%=@req.space.id%>' href='/spaces/<%=@req.space.id%>'><%=@req.space.name%></a> </h2>
<h4>On date: <%=@req.date%> </h4>
<h4>Status: <%=@req.status%> </h4>
<h4>For: <%=@req.no_guests%> <%=@req.no_guests.to_i > 1 ? "Guests" : "Guest"%></h4>
<h4>Owned by <%=@req.space.user.username%> </h4>

<textarea id="message-new-box" name="content" form="message-new">Enter text here...</textarea>
<form id="message-new" action="/messages" method="post">
  <input type='hidden' name='request_id' value='<%=@req.id%>'/>
  <input id='send-message' type="submit" value="Send" />
</form>

<div id="messages-container">
  <%@req.messages.each do |message| %>
  <div class="message">
    <div class="message-from">    From: <%= message.user.username %> </div>
    <div class="message-time"> <%= message.time.strftime("Created on: %m/%d/%Y at: %I:%M%p") %> </div>
    <div class="message-content"> <%= message.content %> </div>
  </div>
  <% end %>
</div>
